.thumbnail {
    width: 4rem;
}

.productHeader {
    margin: 2rem 0;
}

.productsTable {
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

.tableheight {
    height: 2rem;
}

.buttonGroup {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    min-width: 10rem;
}

.stockQuantity {
    width: 8rem;
    padding-right: 2rem;
}

.actionBody {
    max-width: 9rem;
}

.btnEdit {
    color: white;
}

.th {
    padding: 1rem;
    margin: 0;
    text-align: right;
}

.td {
    text-align: right;
    border-top: 1px solid rgb(179, 179, 179);
    padding: 1rem;
}
