.container {
    margin-bottom: 3rem;
    width: 80%;
}

.tableCardProduct {
    width: 100%;
    border-spacing: 0;
}
.total,
.empty,
.brand,
.quantity,
.price {
    padding: 1rem;
    text-align: right;
}

.price {
    width: 15%;
}

.holder {
    background-color: #f8f6f6;
    padding: 1.5rem;
    border: 1px solid rgb(179, 179, 179);
}

.totalPrice {
    padding-right: 3rem;
    text-align: right;
}

.td,
.summary,
.totalCost {
    border-top: 1px solid var(--color-theme-main);
    border-spacing: 0;
    padding-top: 1.5rem;
    font-weight: bold;
}

.caption {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2rem;
    padding: 1rem;
}

.summary {
    text-align: right;
}

.totalCost {
    text-align: right;
    padding-right: 3rem;
}
