.header {
    margin-bottom: 1.3rem;
    display: block;
    text-align: center;
}
.container {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid skyblue;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 25rem;
}
.input {
    margin: 0.4rem 0;
    padding: 0.5rem 1rem;
}
textarea {
    resize: vertical;
    overflow: auto;
    height: 5rem;
}

.confirmationMessage {
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}
